{% extends 'base.html.twig' %}

{% block title %}
  Forgot Password !
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('CSS/style.css')}}" type="text/css">
{% endblock %} 

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{asset('JS/script.js')}}"></script>
{% endblock %}

{% block body %} 
<div class="container">
	<div>
		<div class="main-head">
			<h1>
				Forgot Password!
			</h1>
		</div>
		<div class="vert-form">
			<form name="forgot_pass" method="post">
				<label for="email">Email</label>
				<input type="email" name="email">
				<div class="options">
					<ul>
						<li><a href="/login">Go Back to Login</a></li>
					</ul>
				</div>
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}
