{% extends 'base.html.twig' %}

{% block title %}
  Reset Password !
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('CSS/style.css')}}" type="text/css">
{% endblock %} 

{% block js %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="{{asset('JS/script.js')}}"></script>
{% endblock %}

{% block body %} 
<div class="container">
	<div>
		<div class="main-head">
			<h1>
				Reset Password!
			</h1>
		</div>
		<div class="vert-form">
			<form name="reset_pass" method="post">
				<label for="password">New Password</label>
				<input type="text" name="password">
				<input type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock %}
