{% extends 'base.html.twig' %}

{% block title %}
  Forgot Password!
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{asset('CSS/style.css')}}" type="text/css">
{% endblock %} 

{% block body %}
  <div class="container">
    <div class="flex-center col" id="register">
        <h1>{{message}}</h1>
        <a href="/login">Go Back to Login</a>
      </div>
		</div>
  </div>
{% endblock %}